@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Our coffee is roasted locally <br />
    and manufactured <br />
    with the finest arabica beans <br />
    that are certified organic <br />
    and fair trade. <br /> Our teas are
    handcrafted in the city and <br />
    can be found in a number <br />
    of high-end spas.
</p>
