@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Come Grab a Cup! Have a comment
    or just want to say hi?
    Drop us a line below.
    <br />
    Hours

    Monday - Friday: 7:30am - 6pm <br />
    Saturday: 8am - 5pm <br />
    Sunday:  Closed <br />

    CooffeeCa@gmail.com
</address>
<br />
<address>
    <strong>Support:</strong> <a href="mailto:CoffeeShop@example.com">CoffeeShop@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:CoffeeShopMarketing@example.com">CoffeeShopMarketing@example.com</a>
</address>
