@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Centennial Coffee Shop</h1>
    <p> Good ideas start with brainstorming. Great ideas start with coffee. </p>
</div>
